<aside>
  <header class="logo">
    <h1>HaruChatX</h1>
  </header>

  <nav aria-label="Chats list">
    <ul>
      <li>
        <a href="#" aria-current="page">
          First chat
          <button class="delete" aria-label="Delete chat">x</button>
        </a>
      </li>
      <li>
        <a href="#">
          Second chat
          <button class="delete" aria-label="Delete chat">x</button>
        </a>
      </li>
    </ul>
  </nav>
</aside>

<main>
    <section>
      <turbo-frame id="messages">
        <h1>Witaj w HaruChatX!</h1>
      </turbo-frame>
    </section>

  <turbo-frame id="new_message">
    <%= form_with url: root_path, method: :post, html: { 'aria-label': 'Write a message' } do |f| %>
      <select id="chat_mode_select" name="chat_mode" aria-label="Chat mode">
        <option value="gpt-5" <%= 'selected' if @chat_mode == 'gpt-5' %>>GPT 5</option>
        <option value="gpt-5-mini" <%= 'selected' if @chat_mode == 'gpt-5-mini' %>>GPT 5 Mini</option>
        <option value="gpt-5-nano" <%= 'selected' if @chat_mode == 'gpt-5-nano' %>>GPT 5 Nano</option>
      </select>
      <%= f.text_field :message, value: @message, placeholder: 'Write a message…', 'aria-label': 'Message', autocomplete: 'off', enterkeyhint: 'send', required: true %>
      <%= f.button 'Send', 'aria-label': 'Send message' %>
    <% end %>
  </turbo-frame>
</main>